<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd        http://dubbo.apache.org/schema/dubbo        http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="mall-web"  />

    <!-- 使用multicast广播注册中心暴露发现服务地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181?client=zkclient" />

    <!-- 生成远程服务代理，可以和本地bean一样使用demoService -->

    <!-- 用户服务-->
    <dubbo:reference id="ucenterUserService" interface="cn.caohangwei.mall.ucenter.rpc.api.UcenterUserService" />

    <!-- 用户服务-->
    <dubbo:reference id="shopGoodsService" interface="cn.caohangwei.mall.shop.rpc.api.ShopGoodsService" />

    <!-- 用户服务-->
    <dubbo:reference id="shopSpikeGoodsService" interface="cn.caohangwei.mall.shop.rpc.api.ShopSpikeGoodsService" />

    <!-- 用户服务-->
    <dubbo:reference id="shopOrderInfoService" interface="cn.caohangwei.mall.shop.rpc.api.ShopOrderInfoService" />

    <!-- 用户服务-->
    <dubbo:reference id="shopSpikeOrderService" interface="cn.caohangwei.mall.shop.rpc.api.ShopSpikeOrderService" />
</beans>